## Python: Conhecendo a Linguagem

# O que é Programação?

## O que é um programa de computador?
## O que é um algoritmo?

# Um pouco mais Sobre o Python

## O que programar? (aplicações)
## Aonde programar? (ambientes)
## Como instalar o interpretador?

# A linguagem ("Hello World")

In [ ]:
print("Hello World")

Hello World

#Tipos de Dados básicos

In [ ]:
print(type(5)) # O tipo do número 2 é int (número inteiro)"
print(type(2.5)) # O tipo do número 2.5 é float (número decimal)
print(type(1.5+1.5j)) # O tipo do número 1 + 1j (j é o número imaginário) é complex
print(type("texto")) # Sequencia de caracteres para armazenar texto
print(type(False)) # tipo booleano para Verdadeiro (True) e Falso (False)
print(type(None)) # tipo

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

In [ ]:
print("O termo termo esta entre aspas")

O termo termo esta entre aspas

## Variáveis

Uma variável não pode ter o nome comçado por números, eveitmem palavras-chave da linaguagem e caracateres especiais

In [ ]:
# nome_da_variavel = valor
altura_guilherme =  1.9
texto = "Hello world"
chovendo = True
sabor_bolo = "de Fubá"

SyntaxError: ignored

## Operações básicas (e nem tão básicas)

### Com dados numéricos

In [ ]:
print(1 + 2) # o '+' é a soma usual
print(10.5 - 1.5) # o '-' é a subtração usual
print(2 * -2) # o '*' é a multiplicação usual
print(2 / 3) # o '/' é a divisão usual

print(4 ** -0.5) # o '**' é a exponenciação
print(2 // 3) # o '//' é o quociente da divisão inteira
print(2 % 3) # o '%' é o resto da divisão inteiro

3
9.0
-4
0.6666666666666666
0.5
0
2

In [ ]:
quociente = 20 // 6
resto = 20 % 6
divisao_normal = 20/6
print(quociente, resto, divisao_normal)

3 2 3.3333333333333335

### Com dados texto

In [ ]:
turno = "tarde"
resultado =  "Boa " + turno + "!" + " Seja bem vindo." # o '+' é a concatenação de strings
print(resultado)

Boa tarde! Seja bem vindo.

In [ ]:
"ola" + " tchau"

'ola, tchau'

In [ ]:
"tchau" + " ola"

'tchau ola'

In [ ]:
'k' * 15 # o '*' repete a string x vezes onde x é um número inteiro

'kkkkkkkkkkkkkkk'

### Com booleanos

In [ ]:
False * 10 # converte o True para 1 e o False para 0 e faz numericamente

0

In [ ]:
True + True

2

## Conversão de tipos de Dados

In [ ]:
# conversão de tipos de Dados
string = "3"
string_convertido = int(string)
string_convertido + 10

13

In [ ]:
10 + float('10')

20.0

In [ ]:
numero_favorito = 20

In [ ]:
"ola, meu numero favorito é " + str(numero_favorito)

'ola, meu numero favorito é 50'

In [ ]:
numero_favorito= 50

## Exercícios

In [ ]:
# transforma centimetros em polegadas

In [ ]:
### Escreva uma sequência de operações em python que converta um valor em real para dólar -> 1 dol = 4,75 real

In [ ]:
## Escreva uma sequência de operações em python que converta um valor em dólar para real

In [ ]:
## Exercicio Conversão de Celsius para Fahrenheit
##  C * 9/5  + 32 = F

# C = 0;   F = 32
# C = 100; F = 212
# C = -10; F = 14


# Desvios condicionais

In [ ]:
# Operadores de Comparação

print(f"3 == 4: {3 == 4}") # '==' representa igualdade
print('"texto" == "texto ":', "texto" == "texto ")
print('"2.34" == 2.34:', "2.34" == 2.34)
variavel = 6
print("2*variavel == 10:", 2*variavel == 10)

print("2 > 3:", 2 > 3) # '>' verifica se o número a esquerda do símbolo é maior que o da direita
print("2 > 2:", 2 > 2)
print("2 < 3:", 2 < 3) # '<' verifica se o número a esquerda do símbolo é menor que o da direita
print("2 < 2:", 2 < 2)
print("'zulu' < 'abacate':", "zulu" < "abacate")

print("2 >= 3:", 2 >= 3) # '>=' verifica se o número a esquerda do símbolo é maior ou igual que o da direita
print("2 >= 2:", 2 >= 2)
print("2 <= 3:", 2 <= 3) # '<=' verifica se o número a esquerda do símbolo é menor ou igual que o da direita
print("2 <= 2:", 2 <= 2)
print("'abacaxi' <= 'abacate':", "abacaxi" <= "abacate")

print("3 != 2:", 3 != 2) # '!=' verifica se os números são diferentes
print("2 != 2:", 2 != 2) # '!=' verifica se os números são diferentes
print('"Texto" != "texto":', "Texto" != "texto")

### Bloco `If`

In [ ]:
condicao = True

print("começa o programa")
if (condicao)
    print("Entrei no if!")
    print("outro comando do if")
print("Continua o programa")

### Uso do `Else`

In [ ]:
valor_pix = float(input("valor"))
saldo_pessoa = float(input("valor"))

In [ ]:
if valor_pix > saldo_pessoa:
    print("você não possui saldo suficiente para essa operação!")
else:
    print("Pix efetuado com sucesso!")

### Desvio multicondicional

In [ ]:
media = 6

In [ ]:
# Varios If's
if 0 <= media < 3:
  print("Reprovado")
if 3 <= media < 5:
  print("Recuperação")
if 5 <= media < 10:
  print("Aprovado")
if media == 10:
  print("Aprovado com louvor")

In [ ]:
# If e Else aninhados
if media >= 3:
  if media >= 5:
    if media == 10:
      print("aprovado com louvor")
    else:
      print("aprovado")
  else:
    print("recuperação")
else:
  print("Reprovado")

In [ ]:
if media == 10:
  print("aprovado com louvor")
else:
  if media >= 5:
    print("aprovado")
  else:
    if media >= 3:
      print("recuperação")
    else:
      print("reprovado")

In [ ]:
# Elif
if media == 10:
  print("aprovado com louvor")
elif media >= 5:
  print("aprovado")
elif media >= 3:
  print("recuperação")
else:
  print("Reprovado")

In [ ]:
# Equação de 2 Grau

# a*x² + b*x + c = 0
# x² - x + 1 = 0 -> delta = -3 < 0
# x² +2x + 1 = 0 -> delta = 0
# x^2 - 4x = 0 - > delta = 16 > 0

In [ ]:
##  Carro flex

## se o valor etanol for maior que 70% do valor do valor gasolina -> gasolina
## se o valor do etanol for menor ou igual a 70% do valor gasolina -> etanol


#gasolina, etanol = 4, 1 # etanol
#gasolina, etanol = 4, 3 # gasolina
#gasolina, etanol = 10, 7 # etanol
#gasolina, etanol = 10, 7.0000000001 #gasolina

### Exercicio
dada a tabela o IR, faça um programa que recebe o salário de um trabalhador e devolve o valor do imposto. Utilizando a regra de imposto efetiva até 2021

|Base de cálculo (R$)	|Alíquota (%)|
--------------------- |-------------|
|Abaixo de 1.903,98    | 0%  |
|De 1.903,99 até 2.826,65|	7,5%	|
|De 2.826,66 até 3.751,05|	15%	|
|De 3.751,06 até 4.664,68|	22,5%	|
|Acima de 4.664,69|	27,5%|

# Laços de repetição

## While (enquanto)

In [ ]:
numero = 1 # inicialização
while numero <= 10 # condição de repetição
  print(numero)
  numero = numero + 1 # atualização da da variável
print("acabou")

In [ ]:
# Faça um programa em python que lê palavras digitadas pelo usuário até que ele digite "sair".
# Depois informe quantas palavras ela digitou

In [ ]:
# fazer um código python que calcula x^y

In [ ]:
## Le números do usuário até ele digitar o numero -1 (ok)
## calcula a média dos números digitados

In [ ]:
## Calcule o fatorial de um número

# Coleções de dados

### Listas

In [ ]:
lista = ["ola", "alo", 1, 1.34, True]

In [ ]:
print(lista)

In [ ]:
# acessar um elemento da lista
pos = 5
lista[pos]# em uma lista com N elementos os indices vão de 0 até N-1

In [ ]:
lista[1] = "novo valor"
print(lista)

In [ ]:
len(lista) # devolve o numero de elementos em uma coleção

In [ ]:
lista.append("novo elemento")
print(lista)

In [ ]:
lista.insert(0, 'inicio')
print(lista)

In [ ]:
lista.index("novo elemento")

In [ ]:
deletado = lista.pop(1)
print(lista)
print(deletado)

In [ ]:
del(lista[3])
print(lista)

In [ ]:
lista2 = []
print(lista2)

In [ ]:
## Modifique o algoritmo que calculava a média dos números
## para encontrar a mediana dos valores
## dica: Use listas par guardar todos os valores informados

# como calcular a mediana
# ordenamos os valores do menos para o maior
# se tem núúmeo impar de valores a mediana é o valor do meio
#[ 5 , 1,2] -> [1,2,5] -> 2
# Se tem um numero par de valores, a mediana é a media dos 2 centrais
#[ 5 , 1, 4,2] -> [1,2,4,5]- > 3 = (2+4)/2


### For (para cada)

In [ ]:
lista = [1,4,5,6,7]

In [ ]:
indice = 0
while indice < len(lista):
  print(lista[indice])
  indice = indice + 1

In [ ]:
for num in lista:
  print(num)
print("acabou")

## Dicionários

In [ ]:
dicionario = {'nome': 'Guilherme', 'matricula': 123456, 'cpf': '36791837802'}

In [ ]:
dicionario['altura'] = 1.8

In [ ]:
len(dicionario)

In [ ]:
dicionario

In [ ]:
dicionario['rg']

In [ ]:
dicionario['notas'] = {'matematica': [5,6.5,7], 'historia': [1,2]}

In [ ]:
dicionario

In [ ]:
dicionario['notas']['historia'][1]

In [ ]:
alunos = [{'nome': 'Guilherme', 'notas': {'historia': [1, 3, 8] }},{'aluno': 'Gabriel'} ,{'aluno': 'Bianca'}]

In [ ]:
if 'ingles' in alunos[0]['notas']:
  print("ja tem a nota")

In [ ]:
print(dicionario)

In [ ]:
for chave, valor in dicionario.items():
  print(chave, valor)

## Tuplas

In [ ]:
t = (1,2, 3)

In [ ]:
t[0] = 10

# Funções

In [ ]:
def diz_ola(nome):
  print('Olá')
  print('tudo bem?')
  print(nome)